# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import json
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions). Hint: use the headers parameter to get the data!

In [3]:
# headers definition
headers = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/75.0.3770.90 Chrome/75.0.3770.90 Safari/537.36'}

In [4]:
# Your code
response = requests.get(url, headers = headers)
results = response.json()

In [5]:
flattened_data = json_normalize(results)
flattened_data.head()

,articles,articlesToShow,breadcrumbs,carouselTeaser,categoryTree,collection,contentPositions.entry-point-teasers,contentPositions.in-cat-carousel,contentPositions.in-cat-carousel-fullwidth,contentPositions.in-cat-carousel-mobile,...,total_article_count,total_count,upperInCatTeaser,variants.fullWidthCatalog,variants.hideCategories,variants.mobileLightFilters,variants.myBrandsFilter,variants.outwardTeaserCard,variants.premiumCatalog,wishlist
0,"[{'sku': 'NI114F002-A13', 'name': 'FORCE 1 18 ...",84,"[{'items': [{'label': 'Enfant', 'url_key': 'en...",None,"[{'label': 'Promotions', 'id': '9574', 'url_ke...",None,"[7, 14, 20, 26]",9,8,6,...,20271,20275,None,False,False,False,True,False,False,None

In [6]:
articles = json_normalize(flattened_data.articles[0])
articles.head()

,brand_name,family_articles,flags,is_premium,media,name,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,sku,url_key
0,Nike Sportswear,"[{'sku': 'NI114F002-A13', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': '-30%', 'tra...",False,[{'path': 'NI/11/4F/00/2A/13/NI114F002-A13@5.j...,FORCE 1 18 - Chaussures premiers pas - white/i...,False,False,False,False,"49,95Â â‚¬","35,00Â â‚¬",shoe,"[19.5, 23.5, 25, 26, 27]",NI114F002-A13,nike-sportswear-force-1-18-baskets-basses-ni11...
1,MOSCHINO,"[{'sku': '6MO24K008-K11', 'url_key': 'moschino...","[{'key': 'discountRate', 'value': '-70%', 'tra...",True,[{'path': '6M/O2/4K/00/8K/11/6MO24K008-K11@7.j...,HOODED - Sweatshirt - baya blue maramao,False,True,True,False,"159,95Â â‚¬","47,95Â â‚¬",clothing,"[4a, 6a, 8a, 10a, 12a, 14a]",6MO24K008-K11,moschino-hooded-sweatshirt-baya-blue-maramao-6...
2,Nike Performance,"[{'sku': 'N1243G09X-Q11', 'url_key': 'nike-per...","[{'key': 'discountRate', 'value': 'Jusquâ€™Ã -45...",False,[{'path': 'N1/24/3G/09/XQ/11/N1243G09X-Q11@4.j...,veste en sweat zippÃ©e - black/sail/university ...,False,True,True,False,"54,95Â â‚¬","29,95Â â‚¬",clothing,"[6-8a, 8-10a, 10-12a, 12-13a, 13-15a]",N1243G09X-Q11,nike-performance-air-hoodie-veste-en-sweat-zip...
3,Nike Sportswear,"[{'sku': 'NI114D05L-A12', 'url_key': 'nike-spo...","[{'key': 'discountRate', 'value': 'Jusquâ€™Ã -30...",False,[{'path': 'NI/11/4D/05/LA/12/NI114D05L-A12@12....,COURT ROYALE (PSV) - Baskets basses - white,False,True,True,False,"39,95Â â‚¬","28,00Â â‚¬",shoe,"[27.5, 28.5, 29.5, 30, 31, 31.5, 32, 33, 33.5,...",NI114D05L-A12,nike-sportswear-court-royale-baskets-basses-ni...
4,Re-Gen,"[{'sku': 'RG524K00Q-K11', 'url_key': 're-gen-t...","[{'key': 'discountRate', 'value': '-70%', 'tra...",False,[{'path': 'RG/52/4K/00/QK/11/RG524K00Q-K11@5.j...,TEENS - Pullover - blue nights,False,False,False,False,"29,95Â â‚¬","9,00Â â‚¬",clothing,"[10a, 12a, 14a, 16a]",RG524K00Q-K11,re-gen-teens-pullover-blue-nights-rg524k00q-k11

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [7]:
# Get the total number of pages
total_pages = results['pagination']['page_count']

df = pd.DataFrame()
for i in range(total_pages):
    art_per_page = i*84
    url_loop = 'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset='+str(art_per_page)+'&sort=sale'
    results_loop = requests.get(url_loop, headers = headers).json()
    flattened_data_loop = json_normalize(results_loop)
    articles_loop = json_normalize(flattened_data_loop.articles[0])
    df = df.append(articles_loop)

/home/eiroamd/.local/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [8]:
df= df.set_index('sku')

In [9]:
df.shape

(20272, 19)

#### Display the trending brand in DataFrame

In [10]:
# your code
df['brand_name'].value_counts().head(1)

Friboo    855
Name: brand_name, dtype: int64

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [11]:
#Our data is still text. Convert prices into numbers.
# your code
df['price.original'] = df['price.original'].str.replace(' ','',regex=True)
df['price.original'] = df['price.original'].str.replace('â‚¬','',regex=True)
df['price.original'] = df['price.original'].str.replace(',','.',regex=True).astype(float)
df['price.original']

sku
N1243D11U-Q11     24.95
NI114D09A-Q13    149.95
N1243L00A-Q11     34.95
NI114F00V-C11     59.95
CO423G015-G11     28.95
TO184A00H-A11     25.95
CO423G018-A11     34.95
NI114D0A1-C12     94.95
F5713A032-J11     27.95
AD116D0K3-Q11     59.95
QU124C015-K11     25.99
GP024G0EU-C11     16.95
CO416A03L-802     39.95
QU124G066-Q11     15.99
N1243G022-Q11     34.95
NI114D09A-K12    149.95
N1243D0ZK-K11     49.95
N1243K0B5-B11     34.95
GP024G0F1-G11     14.95
A0F23C00T-T11     23.95
VA213D022-J11     49.95
NI113D07J-A11     49.95
NI114D03P-A11     54.95
NI114D0AG-A11     69.95
A0F24G03K-C11     14.95
QU124K03P-G11     39.99
CJ223C00P-J11     20.95
NI114F009-A11     59.95
NI114D057-Q11     29.95
CO413F013-A11     44.95
                  ...
N1423G087-A11     16.99
N1424G0AE-C11     22.99
N1421J00A-G11     24.99
N1424C015-A11     16.99
N1424G0AJ-K11     14.99
N1423G08W-J11     14.99
N1424G0AA-A11     12.99
N1423F06S-J11     32.99
N1423G08L-J11     22.99
P6824G08E-G11     19.99
N1423G08X-J12     17.99
N1423G08I-K11     17.99
NX324D03C-K11     34.95
N1423F06N-J11     22.99
N1423G089-A11     19.99
N1426B02O-A11     22.99
N1423G08X-J11     17.99
N1426B02N-K11     18.99
N1423F073-J11     29.99
N1424G0AN-K11     14.99
N1426K018-K11     29.99
N1423J02P-J11     39.99
N1426B028-O11     22.99
N1422G000-O11     37.99
N1426G01Y-O11     22.99
N1426J00V-E11     34.99
N1426A00I-K11     37.99
N1422S000-C11     29.99
N1424G0AO-J11     17.99
N1486A00E-O11     16.99
Name: price.original, Length: 20272, dtype: float64

In [12]:
df['price.original'] = pd.to_numeric(df['price.original'],downcast='signed')

In [13]:
df['price.promotional'] = df['price.promotional'].str.replace('â‚¬','',regex=True)
df['price.promotional'] = df['price.promotional'].str.replace(',','.',regex=True)
df['price.promotional'] = df['price.promotional'].str.replace(' ','',regex=True).astype(float)
df['price.promotional']

sku
N1243D11U-Q11     19.95
NI114D09A-Q13     90.00
N1243L00A-Q11     28.00
NI114F00V-C11     24.00
CO423G015-G11      8.70
TO184A00H-A11     20.76
CO423G018-A11     10.49
NI114D0A1-C12     38.00
F5713A032-J11     11.18
AD116D0K3-Q11     18.00
QU124C015-K11     13.00
GP024G0EU-C11      5.10
CO416A03L-802     37.30
QU124G066-Q11      8.00
N1243G022-Q11     22.70
NI114D09A-K12    119.95
N1243D0ZK-K11     24.95
N1243K0B5-B11     22.70
GP024G0F1-G11      4.50
A0F23C00T-T11      7.19
VA213D022-J11     40.00
NI113D07J-A11     14.95
NI114D03P-A11     27.48
NI114D0AG-A11     49.00
A0F24G03K-C11      5.23
QU124K03P-G11     12.00
CJ223C00P-J11      6.30
NI114F009-A11     36.00
NI114D057-Q11     24.00
CO413F013-A11     31.46
                  ...
N1423G087-A11     16.99
N1424G0AE-C11     22.99
N1421J00A-G11     24.99
N1424C015-A11     16.99
N1424G0AJ-K11     14.99
N1423G08W-J11     14.99
N1424G0AA-A11     12.99
N1423F06S-J11     32.99
N1423G08L-J11     22.99
P6824G08E-G11     19.99
N1423G08X-J12     17.99
N1423G08I-K11     17.99
NX324D03C-K11     34.95
N1423F06N-J11     22.99
N1423G089-A11     19.99
N1426B02O-A11     22.99
N1423G08X-J11     17.99
N1426B02N-K11     18.99
N1423F073-J11     29.99
N1424G0AN-K11     14.99
N1426K018-K11     29.99
N1423J02P-J11     39.99
N1426B028-O11     22.99
N1422G000-O11     37.99
N1426G01Y-O11     22.99
N1426J00V-E11     34.99
N1426A00I-K11     37.99
N1422S000-C11     29.99
N1424G0AO-J11     17.99
N1486A00E-O11     16.99
Name: price.promotional, Length: 20272, dtype: float64

In [14]:
df['price.promotional'] = pd.to_numeric(df['price.promotional'],downcast='signed')

In [15]:
df['price.promotional']

sku
N1243D11U-Q11     19.95
NI114D09A-Q13     90.00
N1243L00A-Q11     28.00
NI114F00V-C11     24.00
CO423G015-G11      8.70
TO184A00H-A11     20.76
CO423G018-A11     10.49
NI114D0A1-C12     38.00
F5713A032-J11     11.18
AD116D0K3-Q11     18.00
QU124C015-K11     13.00
GP024G0EU-C11      5.10
CO416A03L-802     37.30
QU124G066-Q11      8.00
N1243G022-Q11     22.70
NI114D09A-K12    119.95
N1243D0ZK-K11     24.95
N1243K0B5-B11     22.70
GP024G0F1-G11      4.50
A0F23C00T-T11      7.19
VA213D022-J11     40.00
NI113D07J-A11     14.95
NI114D03P-A11     27.48
NI114D0AG-A11     49.00
A0F24G03K-C11      5.23
QU124K03P-G11     12.00
CJ223C00P-J11      6.30
NI114F009-A11     36.00
NI114D057-Q11     24.00
CO413F013-A11     31.46
                  ...
N1423G087-A11     16.99
N1424G0AE-C11     22.99
N1421J00A-G11     24.99
N1424C015-A11     16.99
N1424G0AJ-K11     14.99
N1423G08W-J11     14.99
N1424G0AA-A11     12.99
N1423F06S-J11     32.99
N1423G08L-J11     22.99
P6824G08E-G11     19.99
N1423G08X-J12     17.99
N1423G08I-K11     17.99
NX324D03C-K11     34.95
N1423F06N-J11     22.99
N1423G089-A11     19.99
N1426B02O-A11     22.99
N1423G08X-J11     17.99
N1426B02N-K11     18.99
N1423F073-J11     29.99
N1424G0AN-K11     14.99
N1426K018-K11     29.99
N1423J02P-J11     39.99
N1426B028-O11     22.99
N1422G000-O11     37.99
N1426G01Y-O11     22.99
N1426J00V-E11     34.99
N1426A00I-K11     37.99
N1422S000-C11     29.99
N1424G0AO-J11     17.99
N1486A00E-O11     16.99
Name: price.promotional, Length: 20272, dtype: float64

In [16]:
df['discount'] = df['price.original'] - df['price.promotional']

In [17]:
pivot_discount = pd.pivot_table(df, values=['discount'], 
                                index=['brand_name'], 
                                aggfunc=np.sum).sort_values(by='discount',
                                                            ascending=False)
pivot_discount.head(1)

            discount
brand_name
Friboo       9362.47

#### Display the brands without discount at all

Esto es el equivalente a la "WHERE" clause en SQL. Los primeros corchetes son el SELECT, el .loc es el 'WHERE' y lo que hay dentro de los corchetes es la condiciÃ³n.

In [18]:
pivot_not_discounted = pivot_discount[['discount']].loc[pivot_discount['discount'] == 0]

In [19]:
pivot_not_discounted

            discount
brand_name
Teva             0.0